# Ejercicio de Preparacion de datos
## python
por Jose R. Zapata
Mineria de Datos, UPB 2018

Donner Party data. http://www.stat.ufl.edu/~winner/datasets.html

Source: Kristin Johnson's killer webpage @ www.utahcrossing.org

Description: Statistics regarding the 89 members of Donner party 1846-1847.

Variables/Columns

Name 1-27
Age 29-30
Gender 31
Survive 46 / 1=Yes, 0=No /
Date of death 49-58 / mmddyyyy10. /
rescue party 67 / among survivors /
date joined party 72-81 / mmddyyyy10. /
trapped in mountains 90 / 1=Yes, 0=no /
camp 91-92 / LC=Lake Camp, AC=Alden Creek (mid december)

In [2]:
# convertir datos  en forma de columna a csv
with open('donner.csv', 'w') as fout:
    fout.write('name,age,gender,survive,death_date,rescue,party_date,mountains,camp\n')
    for line in open('donner.dat').read().split('\n'):
        items = [line[:28], line[28:30], line[30:31], line[45:46],
                 line[48:58], line[66:67], line[71:81],
                line[89:90], line[90:]]
        new_line = ','.join(x.strip() for x in items)+'\n'
        fout.write(new_line)

## Ejercicio: convertir donner a numerico

- Cargar los datos en un dataframe quese llame donner
- Realizar descripcion de los datos
- Realizar preparacion de los datos
   * Definir bien lso valores de la columna dates, pueden usar pd.to_datetime
   * Eliminar las columnas name, death_date and party_date
   * Crear columnas dummy para gender y camp
   * Llenar los valores faltantes con 0 (mirar .fill_na
- Realizar el mismo ejercicio con R

In [4]:
# Importar librerias
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# 1. Cargar Datos

In [8]:
# cargar archivos
df = pd.read_csv('donner.csv')
df.head() # muestra las primeras 5 filas

,name,age,gender,survive,death_date,rescue,party_date,mountains,camp
0,George Donner,60.0,M,0.0,03/27/1847,NaN,07/19/1846,1.0,AC
1,Tamsen Donner,45.0,F,0.0,03/28/1847,NaN,07/19/1846,1.0,AC
2,Frances Donner,6.0,F,1.0,NaN,3.0,07/19/1846,1.0,AC
3,Georgia Donner,4.0,F,1.0,NaN,3.0,07/19/1846,1.0,AC
4,Eliza Donner,3.0,F,1.0,NaN,3.0,07/19/1846,1.0,AC

# 2. Descripcion de datos

In [11]:
# De que tipo son las variables
df.dtypes

name           object
age           float64
gender         object
survive       float64
death_date     object
rescue        float64
party_date     object
mountains     float64
camp           object
dtype: object

In [13]:
# Cuantas filas y columnas tiene la tabla
# Filas = Numero de pasajeros
# Col = Numero de atributos
df.shape

(90, 9)

In [15]:
# Que pasa si se eliminan todos las filas y columnas con datos faltantes
df.dropna().shape

(0, 9)

In [16]:
# Realizar un analisis estadistico de las variables numericas
# Segun el tipo 
df.describe()

             age    survive     rescue  mountains
count  89.000000  89.000000  48.000000  89.000000
mean   19.786517   0.539326   1.583333   0.910112
std    15.109052   0.501275   1.217485   0.287641
min     1.000000   0.000000   0.000000   0.000000
25%     7.000000   0.000000   1.000000   1.000000
50%    17.000000   1.000000   1.000000   1.000000
75%    30.000000   1.000000   3.000000   1.000000
max    60.000000   1.000000   4.000000   1.000000